@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto+Serif&display=swap');

:root {
  --black: #191919;
  --grey: #254450;
  --blue: #57a4ed;
  --dark-blue: #1d4857;
  --light-blue: #b7d8e8;
  --dark-red: #b64343;
  --red: #ca5449;
  --white: #f1f8fb;
  --font-size: 1.3rem;
  --sans: 'Libre Franklin', sans-serif;
  --serif: 'Roboto Serif', serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--red);
}

a:hover {
  color: var(--dark-red);
  text-decoration: none;
}

/* intro styles */

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--serif);
}

#intro .name span {
  font-family: var(--sans);
  font-size: 4rem;
  display: block;
  color: var(--blue);
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* Navigation */

header {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;

  text-align: center;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header .logo {
  font-family: var(--sans);
  flex: 0 0 100%;
}

@media screen and (min-width: 900px) {
  header {
    max-width: 1200px;
    margin: 0 auto;
  }

  header .logo {
    flex: 0 0 auto;
    text-align: left;
    margin-right: auto;
  }
}

header h1 {
  display: inline-block;
  font-size: 2rem;
}

header h1 [class*='fa-'] {
  font-size: 100%;
  padding-right: 0.5rem;
  color: var(--light-blue);
}

header h1 a {
  color: var(--white);
  text-decoration: none;
}

header h1:hover * {
  color: var(--dark-blue);
  transition: color 0.2s ease-in-out;
}

header nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header nav a {
  color: var(--white);
  font-family: var(--serif);
  text-decoration: none;
  line-height: 1.5;
  display: block;
}

footer,
nav [class*='fa-'] {
  font-size: 150%;
}

header nav a:hover {
  color: var(--dark-blue);
  transition: color 0.2s ease-in-out;
}

nav a.button {
  font-size: 1.2rem;
  background-color: var(--dark-blue);
  padding: 0.5rem 0.75rem 0.25rem;
  border-radius: 0.5rem;
}

nav a.button:hover {
  background-color: var(--light-blue);
  transition: color 0.2s ease-in-out;
}

/* Contact Me */

#contact {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  background-color: var(--grey);
}

#contact h2 {
  font-size: 2rem;
  color: var(--white);
}

#contact p {
  color: var(--white);
}

#contact p:last-child {
  padding-top: 2rem;
}

/* Footer */

footer {
  width: 500px;
  margin: 0 auto;
}

footer > * {
  padding: 0;
  margin: 1.25rem 0;
}

footer h3 {
  font-size: 1.75rem;
  color: var(--white);
}

footer p,
footer div,
footer h3 {
  text-align: center;
}

footer p:last-child {
  font-size: 1.25rem;
}

footer a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0 0.5rem;
}
